*
{
	padding:0;
	margin:0;
}

.img72vps
{
	position:relative;
}

.img72vps img
{
	width:100%;
	height:730px;
}

.main_content
{
	width:100%;
	position:absolute;
	top:0;
	left:0;
}

.main_rag
{
	width:45%;
	height:auto;
	float:left;
	margin: 10px 0 0 3%;
	background:rgb(240, 239, 239, 0.8);
	border-top: 10px solid blue;
    border-bottom: 10px solid blue;
	
}

.main_rag_content
{
	width:52%;
	float:left;
	
}

.Registration {
    height: 44px;
    width: 23%;
    border-radius: 5px;
    color: #1e8a8a;
    font-size: 16px;
    font-family: Segoe UI;
    border: none;
    margin: 5 0 13px 41%;
    background: #fff;
    box-shadow: 5px 3px 6px 1px #d8d6db;
    border: 1px solid #ebf1eb;
}


.facebook {
    width: 45.5%;
    height: 40px;
    float: left;
    background: #6344d7;
    box-shadow: 7px 21px 13px #8f9885;
    margin: 0 2px 29 20;
}

.facebook img {
    width: 39px;
    height: 40px;
    box-shadow: none;
}

.facebook span {
    font-size: 18px;
    color: #f5d9d9;
    font-size: 17px;
    font-family: Segoe UI;
    margin: -31px 0 0 53;
    display: block;
}
.facebook:hover
{
	background:#3c5a9a;
	transition:.5s ease-in;
}
.twitter {
    width: 45%;
    height: 40px;
    float: left;
    background: #6344d7;
    box-shadow: 7px 21px 13px #8f9885;
    margin: 0 8 29 20;
}

.twitter img {
    width: 39px;
    height: 40px;
    box-shadow: none;
}

.twitter span {
    font-size: 18px;
    color: #f5d9d9;
    font-size: 17px;
    font-family:Segoe UI;
    margin: -31px 0 0 53;
    display: block;
}
.twitter:hover
{
	background:#50abf1;
	transition:.5s ease-in;
}
.main_rag input {
    height: 44px;
    width: 94%;
    background: #efefff;
    border-radius: 4px;
    color: #080808;
    font-size: 15px;
    font-weight: Regular;
    font-family: Segoe UI;
    border: none;
    margin: 12 0 3 3%;
    box-shadow: inset 9px 9px 14px 0px #8c8c8c;
    margin: 1px 0px 15px 3%;
    padding-left: 1%;
}

.main_rag input:hover{
	
	    box-shadow: 9px 9px 14px 0px #8c8c8c;
		transition:.5s ease-in;
}

#getFirstName
{
	width: 45.6%;
    float: left;
}

#getLastName
{	width: 45.6%;
    float: left;
}


#getREpassword
{
	 margin: 1px 0px 0px 3%;
}


.gender {
    height: 52;
    width: 22%;
    background: #fff;
    border-radius: 4px;
    color: #862b2b;
    font-size: 17px;
    font-weight: Regular;
    font-family: Segoe UI;
    margin: 6px 0 2 3%;
    box-shadow: inset 9px 9px 20px -4px #8c8c8c;
        border: 1px solid #f7ecec;
}

.radio input
{
	width: 20px;
    height: 12px;
    box-shadow: none;
    margin: 3px;

}

.radio {
    font-size: 17px;
    font-family: sans-serif;
    color: #426165;
}


.submit_button {
    height: 52;
    width: 95%;
    background: #4545a2;
    border-radius: 4px;
    color: #e6dfdf;
    font-size: 17px;
    font-family:Segoe UI;
    border: none;
    margin: 10px 0 19px 2.5%;
    box-shadow: 2px 11px 13px #638d9b;
}
.submit_button:hover
{
	background:#4545d4;
	transition:.5s ease-in;
}
.service
{
	width: 98%;
    padding: 149px 0 0 2%;
}

.service_text h1 {
    text-align: center;
    color: #4b580f;
    font-size: 20px;
    font-family: sans-serif;
    padding: 20 0 0 0;
}

.service_text p {
    text-align: center;
    color: #8a8a31;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 10px;    
}

.search_books {
    width: 100%;
    margin: auto;
    padding-top: 20px;
}

.search_books input {
    height: 44px;
    width: 75%;
    background: #efefff;
    border-radius: 4px;
    color: #080808;
    font-size: 15px;
    font-family: Segoe UI;
    border: none;
    box-shadow: inset 9px 9px 14px 0px #8c8c8c;
    margin: 0px 0px 0 5%;
    padding-left: 1%;
}

.search_books_button {
    height: 42px;
    width: 75px;
    color: #ecf4f5;
    font-size: 14px;
    font-family: sans-serif;
    background: rgba(41, 63, 125, 0.9);
    border: none;
    border-radius: 3px;
	
}
.search_books_button:hover
{
	background:#4545d4;
	transition:.5s ease-in;
}




/*==========Responsive Code================*/


@media screen and (max-width:900px){
	.main_rag
	{
		width:97%;	
	}

	.main_rag_content
	{
		width:100%;
		padding-bottom:50px;
	}
}
@media screen and (max-width:1254px){
	.facebook
	{
		width:94%;
	}
	.twitter
	{
		width:94%;
	}
}







